*.bak
*db
*incremental_db
*output_files
*simulation
*.txt
*.qpf
*.qsf
*.qws
*.rpt
*.db_info
Phase1/laboratory_project_phase1/simulation/modelsim/rtl_work/_info
Phase1/laboratory_project_phase1/simulation/modelsim/rtl_work/_lib1_0.qdb
Phase1/laboratory_project_phase1/simulation/modelsim/rtl_work/_lib1_0.qtl
Phase1/laboratory_project_phase1/simulation/modelsim/rtl_work/_lib1_0.qdb
Phase1/laboratory_project_phase1/db/Phase1SRC_2.db_info
Phase1/laboratory_project_phase1/Phase1SRC_2_nativelink_simulation.rpt
Phase1/laboratory_project_phase1/Phase1SRC_2.qsf
Phase1/laboratory_project_phase1/simulation/modelsim/msim_transcript
